body{
	background:#9E918D;
}

#root{
	width:1200px;/**/
  	margin: 0 auto; 
  	margin-top:5%;
  	border:1px solid black;
  	border-radius: 5px;
    background: #D6D3D2;
}
h1,h2{
	padding:5px;
}
.row{
	padding:5px;
}
.users_table{
	font-size:70%;
	width:50%;
}
#users_table_update, #btnupdate{
	font-size:62%;
	width:50%;
}