body{
	background:#9E918D;
	background-size: 100%;
	opacity: 0.90;
	background-image: url("../images/logo.jpg");
	color: #fff;
}

#root{
	width: 90%;
    height: auto; /*from here you specify responsive width of the app*/
  	margin: 0 auto; 
  	margin-top:5%;
  	border:1px solid black;
  	border-radius: 5px;
    /*background: #D6D3D2;*/ /*css3 patterns http://lea.verou.me/css3patterns/#*/
	background-color:black;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
h1, h2{
	padding:5px;
}
.row{
	padding:5px;
}
tr:hover {
  background-color: #590110;
}
  
.users_table{
	/*font-size:60%;*/
	width:95%;
}
#users_table_update{
	/*font-size:80%;*/
	width:95%;/**/
}

#btnupdate{
	font-size:100%;
}
#close-btn{
	color:#B53A4E;
}
#bell{
	background-image: url("../images/bell_.png");
}
.mySignature{
	text-align:right;
	padding-right: 25px;
}
.clientinfo{
	color: white;
}
.positionMainLink{
    position: absolute;
    top: 13px;
    right: 48px;
}

.positionLogoutLink{
    position: absolute;
    top: 13px;
    right: 90px;	
}
.positionModalLink{
    position: absolute;
    top: 13px;
    right: -330px;	
}
.positionLoginLink{
    position: absolute;
    top: 8px;
    right: 120px;	
}
#legendUpdt{
	width: 160%;
}
/* unvisited link */
a:link {
    color: #B53A4E;
}
legend{
	 color: #B53A4E;
	 width: 103%;
}
/* visited link */
a:visited {
    color: #997A80;
}

/* mouse over link */
a:hover {
    color: #C46241;
}

/* selected link */
a:active {
    color: orange;
}
input,select {
	color:black;
}
.doNotDisplay{
	display:none;
}

.form-control:focus{
	border-color: #B53A4E;
	-moz-box-shadow:    inset 0 0 8px #691E2A;
    -webkit-box-shadow: inset 0 0 8px #691E2A;
   	box-shadow:         inset 0 0 8px #691E2A;
    /*outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
}

.checkmodals{
	transform: scale(1.5);
}

.selectwidthauto{
  width:auto !important;
}